
.hero {
    margin-top: -2rem;
    background-image: url('../assets/mobile-images/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-header {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    padding-top: 5rem;
}

.arrow-svg {
    margin-top: 8rem;
    animation-name: jump;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
}


/* queries */

@media screen and (min-width: 800px){
    .hero {
        background-image: url('../assets/desktop-images/image-header.jpg');
        min-height: 40rem;
        height: 45vh;
        margin-top: -4rem;
    }

    .hero-header {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        padding-top: 5rem;
    }

    .arrow-svg {
        animation: none;
        margin-top: 2rem;
    }
}

@media screen and (width >= 1000px) {
    .hero-header {
        font-size: 4rem;
    }

    .arrow-svg {
        margin-top: 10rem;
        animation: none;
    }
    
}

@media screen and (width >= 1500px) {
    .hero {
        height: 100vh;
    }

    .arrow-svg {
        margin-top: 25rem;
        animation-name: jump;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 5;
    }
    
}


/* animations */

@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(50px);}
    100% {transform: translateY(0);}
}
