
.hero {
    margin-top: -2rem;
    background-image: url('../assets/mobile-images/image-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 65vh;
}

.hero-header {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    text-align: center;
    color: white;
    padding-top: 3rem;
}

.arrow-svg {
    margin-top: 1rem;
}

