.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}

img {
    object-fit: contain;
    overflow: hidden;
}

picture {
    object-fit: contain;
    overflow: hidden;
}